@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');

body {
  background-color: black;
  font-family: 'IBM Plex Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: white;
  font-size: 45px;
  margin: 20px 0 0;
}
