<template id="gif-item">
  <style>
    :host {
    }
    div {
      background-color: black;
      position: relative;
      height: 200px;
    }
    ::slotted(img) {
      position: absolute;
    }
    ::slotted(h2) {
      font-weight: 600;
      position: absolute;
      bottom: 0;
    }
  </style>
  <div><slot name="image"></slot> <slot name="title"></slot></div>
</template>

<script>
  const gifItemImport = document.getElementById("gif-item-import").import;
  const gifItemTemplate = gifItemImport.getElementById("gif-item").content;

  class GifItem extends HTMLElement {
    constructor() {
      super();
      const root = this.attachShadow({ mode: "open" }).appendChild(
        gifItemTemplate.cloneNode(true)
      );
    }
  }

  customElements.define("gif-item", GifItem);
</script>
